@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Noto+Sans:wght@300&family=Quicksand&display=swap');
html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smooth: always;
}
body {
  margin: 0;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  width:0.5rem;
}
::-webkit-scrollbar-track{
  background-color: #90AC95;
  margin-block: 1rem;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb{
  background-color: #2A2D1E;
  border-radius: 100vw;
}

@supports(scrollbar-color: red blue){
  *{
    scrollbar-color: #2A2D1E #90AC95;
    scrollbar-width: 0.5rem;
  }
}

.body{
  margin-top: 11vh;
}