@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');

nav ul li{
    list-style-type: none;
}


.navbar{
    width: 98vw;
    height: 10vh;
    padding: 2.5vh;
    position: fixed;
    top: 0%;
    background: none;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
}
.logo{
    font-family: 'Expletus Sans';
    font-size: 2rem;
    width: 5vw;
}
.logo a{
    color: #485249;
    text-decoration: none;
}
.navbar ul{
    width: 95vw;
    display: flex;
    padding: 0%;
    align-items: center;
}
.navbar ul li{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 1rem 0 0;
}
.generate{
    margin-left: auto;
}
.editor{
    margin-left: auto;
}
.navbar .login{
    background-color: azure;
    margin-left: auto;
    padding: 0% 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%/50%;
    height: 4vh;
}
.logout{
    background-color: #485249;
    color: #d9d9d9;
    border: none;
    width: 5vw;
    height: 4vh;
    border-radius: 50px;
    font-size: 1rem;
    margin: 0 0 0 0.5rem;
}
.logout:hover{
    cursor: pointer;
}
.login a{
    text-decoration: none;
    color: black;
}