.change{
    background-color: #d9d9d9;
    height: 100vh;
    color: #1d1d1d;
}

.changepw-box h2{
    font-family: 'Quicksand';
    text-align: center;
}

.changepw{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: 100vh;
}

.changepw form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
}

.changepw-box{
    background-color: #90ac95;
    padding: 5rem;
    border-radius: 3rem;
}

.changepw label{
    font-size: 1rem;
    padding: 0.5rem 0;
    font-family: 'Noto Sans';
}

.changepw input{
    background-color: #d9d9d9;
    font-family: 'Noto Sans';
    border: 1px solid #A3A0A0;
    border-radius: 10px;
    height: 2rem;
    font-size: 1rem;
    padding: 0 1rem;
}

.changepw button{
    background-color: #d9d9d9;
    color: #000;
    border: none;
    font-family: 'Noto Sans';
    font-size: 1rem;
    border: 1px solid #A3A0A0;
    border-radius: 10px;
    height: 2rem;
    margin-top: 1rem;
}

.changepw button:hover{
    cursor:pointer;
}