.container-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text h2{
    font-size: 3rem;
}
.login-card h3,.login-card h2{
    font-family: 'Noto Sans';  
}
.login-card{
    height: 100vh;
    width: 100vw;
    background-color: #B9C2C6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.left{
    height: 100vh;
    width: 50vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    height: 100vh;
    width:50vw;
    background-color: #d9d9d9;
}
.container-login form{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 60vh;
}
.container-login form input{
    background-color: white;
    font-family: 'Noto Sans';
    border: 1px solid #A3A0A0;
    border-radius: 10px;
    height: 3rem;
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1rem;
}
.container-login .submit-button{
    background-color: #d9d9d9;
    color: #000;
    border: none;
}
.checkbox{
    display: flex;
    align-items: center;
}
.checkbox label{
    margin-left: 0.5rem;
}
.checkbox .tick{
    margin: 0rem;
}
.error{
    height: 3vh;
}