@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Noto+Sans:wght@300&family=Quicksand&display=swap');
.register-form{
    padding: 10vh 3vw;
}

.register-form h2{
    font-family: 'Quicksand';
    font-size: 3rem;
}

.register-form h3{
    color: #2A2D1E;
    font-size: 1rem;
}

.register-form form{
    display: flex;
    flex-direction: column;
    width:40vw;
    height: 40vh;
    justify-content: space-between;
    margin-top: 5rem;
}

.register-form input{
    background-color: white;
    font-family: 'Noto Sans';
    border: 1px solid #A3A0A0;
    border-radius: 10px;
    height: 2rem;
    font-size: 1rem;
    padding: 0 1rem;
}

.register-form label{
    font-size: 0.9rem;
    padding: 0.5rem 0;
    font-family: 'Noto Sans';
}

.register-form button{
    background-color: #d9d9d9;
    color: #000;
    border: none;
    font-family: 'Noto Sans';
    font-size: 1rem;
    border: 1px solid #A3A0A0;
    border-radius: 10px;
    height: 3rem;
    margin-top: 1rem;
}
.register-form button:hover{
    cursor: pointer;
}
.form-item{
    display: flex;
    flex-direction: column;
}